:root{
    --color-verde-claro: #05FFA5;
    --color-morado-main: #4321A4; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Globales */
h1{
    font-size: 60px;
    color: white;
    font-family: 'Montserrat';
}
h1 b{
    color: var(--color-verde-claro);
    font-weight: 900;
    letter-spacing: 0.08rem;
}
h2{
    font-family: 40px;
    color: white;
    font-family: 'Montserrat';
}
h2 b{
    font-size: 40px;
    color: var(--color-verde-claro);
    font-weight: 800;
    letter-spacing: 0.1rem;
}
h3{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
}
h4{
    font-size: 16px;
    color: white;
    font-family: 'Montserrat';
}
h5{
    font-size: 14px;
    color: white;
    font-family: 'Montserrat';
}
span{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
}

/* ---------------- */


.hero{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(113.28deg, #14291F 22.57%, #28232F 65.04%);
    color: white;
    width: 100%;
    font-family: 'Montserrat';
}
.hero{
    width: 100%;
}
.hero-main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
}
.hero-main div{
    margin: 20px;
}
.hero-main div:first-child h3{
    letter-spacing: 0.13rem;
}

.hero-main h2{
    font-weight: 800;
    letter-spacing: 0.08em;
    color: var(--color-verde-claro);
}

/* Botones design */
.hero button{
    padding: 10px;
    color: white;
    background-color:  var(--color-morado-main);
    font-family: 'Montserrat';
    border: none;
    border-radius: 4px;
    margin: 10px;
    letter-spacing: 0.14em;
}
.hero button:hover{
    background-color: var(--color-verde-claro);
    border: none;
    color: var(--color-morado-main);
    transition: 300ms;
    cursor: pointer;
} 

.hero-main div:first-child button:last-child{
    background-color: rgba(181, 160, 160, 0);
    border: 2px solid var(--color-morado-main);
}
.hero-main div:first-child button:last-child:hover{
    border: 2px solid var(--color-verde-claro);
    background-color: var(--color-verde-claro);
    color: var(--color-morado-main);
} 




/* Barras de puntuation */
.hero-main div:last-child{
    text-align: center;
}
.hero-main div:last-child div{
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;

    background: rgba(140, 140, 140, 0.27);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 4px;
}
.hero-main div:last-child div::after{
    background: rgba(76, 241, 57, 0.27);
}

.hero-main div:last-child div h4{
    margin-right: 20px;
    margin-left: 20px;
}
.hero-main div:last-child div span{
    font-weight: 800;
    letter-spacing: .2rem;
}



/* Hero-Bottom Estilos */
.hero-bottom{
    padding-top: 40px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
}
.hero-bottom div{
    width: 33%;
    display: flex;
    justify-content: center;
    
}
.hero-bottom h3{
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}
.hero-bottom h3 span{
    font-weight: 700;
    color: var(--color-verde-claro);
}   



@media( max-width: 800px ){
    /* Estilos globales */
    h1{
        font-size: 40px;
    }
    h1 b{
        color: var(--color-verde-claro);
        font-weight: 900;
        letter-spacing: 0.08rem;
    }
    h2{
        font-family: 20px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 12px;
    }
    /* =========================== */

    /* Hero */
    .hero{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .hero-main{
        justify-content: center;
        align-items: center;
    }
    .hero-main div{
        text-align: center;
    }

    .hero-main h1{
        margin-bottom: 2px;
    }
    .hero-main h3{
        margin-bottom: 10px;
    }
    .hero-main div:first-child button{
        margin: 5px;
    }
    .hero-main div:last-child div{
        margin: 10px;
        padding:10px;
        font-size: 14px;
    }
    .hero-bottom{
        display: none;
    }
    /* =========================== */
}


