:root{
    --color-verde-claro: #05FFA5;
    --color-morado-main: #4321A4; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Globales */


.hero{
    display: flex;
    justify-content: center;
    align-items: end; 
    background: linear-gradient(113.28deg, #14291F 22.57%, #28232F 65.04%);
    color: white;
    width: 100%;
    height: 85vh;
    font-family: 'Montserrat';
}
.hero{
    width: 100%;
}
.hero-main{
    display: flex;
    align-items:    center;
    flex-wrap: wrap;
    max-width: 1400px;
}
.hero-main div{
    margin: 20px;
}
.hero-main h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -8px;
}
.hero-main h2{
    font-size: 40px;
    font-weight: 800;
    color: var(--color-verde-claro);
}

/* Botones design */
.hero button{
    padding: 10px;
    color: white;
    background-color:  var(--color-morado-main);
    font-family: 'Montserrat';
    border: none;
    border-radius: 4px;
    margin: 10px;
    letter-spacing: 0.14em;
}
.hero button:hover{
    background-color: var(--color-verde-claro);
    border: none;
    color: var(--color-morado-main);
    transition: 300ms;
    cursor: pointer;
} 

.hero-main div:first-child button:last-child{
    background-color: rgba(181, 160, 160, 0);
    border: 2px solid var(--color-morado-main);
}
.hero-main div:first-child button:last-child:hover{
    border: 2px solid var(--color-verde-claro);
    background-color: var(--color-verde-claro);
    color: var(--color-morado-main);
} 




/* Barras de puntuation */
.hero-main div:last-child{
    text-align: end;
}
.hero-main div:last-child div{
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;

    background: rgba(140, 140, 140, 0.27);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 4px;
}
.hero-main div:last-child div h4{
    margin-right: 20px;
    margin-left: 20px;
}
.hero-main div:last-child div span{
    font-weight: 800;
    letter-spacing: .2rem;
}



/* Hero-Bottom Estilos */
.hero-bottom{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
}
.hero-bottom div{
    width: 33%;
    display: flex;
    justify-content: center;
}
.hero-bottom h3{
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    letter-spacing: .1rem;
}
.hero-bottom h3 span{
    font-weight: 700;
    color: var(--color-verde-claro);
}   



@media( max-width: 800px ){
    .hero{
        height: 100vh;
    }
    .hero-main{
        justify-content: center;
        align-items: center;
    }
    .hero-main div{
        text-align: center;
    }

}


